.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #f0f0f0;
}

.header-left a,
.header-right a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.header-title {
  margin-left: 10px;
}

.page-name {
  font-weight: bold;
}

.user-icon {
  margin-right: 5px;
}
