.header {
  width: 100vw;
  height: 8vh;
  background-color: rgb(34, 112, 70, 0.882);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: fixed;
  border-radius: 0 0 25px 25px;
}
