.header {
  width: 100vw;
  height: 8vh;
  box-shadow: 0 4px 2px -2px gray;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 0;
}
