body {
  margin: 0;
  padding: 0;
}
a {
  font-size: 1.4em;
  text-decoration: none;
  color: black;
  margin: 2px;
  text-transform: capitalize;
}

a:hover {
  cursor: pointer;
  color: rgb(153, 198, 175);
}
* {
  font-family: sans-serif;
}
