{% block html %}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      {% block css %}

      {% endblock %}
      <title>
        {% block title %}

        {% endblock %}
      </title>
    </head>
  </html>
{% endblock %}
<header class="header">
  <div class="header-left">
    <a href="/accueil">
      <img src="path_to_your_logo_image" alt="Logo" class="logo" />
      <span class="header-title">Troc Mon Toit</span>
    </a>
  </div>
  <div class="header-center">
    <div class="page-name">{{ title }}</div>
  </div>
  <div class="header-right">
    <a href="/user">
      <img src="path_to_user_icon" alt="User Icon" class="user-icon" />
      <span class="user-name">{{ userName }}</span>
    </a>
  </div>
</header>
{% block body %}

{% endblock %}
