<nav class="navbar">
    <div class="navbar-left">
        <a href="/home">
            <img src="path_to_your_logo_image" alt="Logo" class="logo">
                <span class="navbar-title">
                    Troc Mon Toit
                </span>
            </a>
        </div>
        <div class="navbar-center">
            <span class="page-name">
                {{ pageName }}
            </span>
        </div>
        <div class="navbar-right">
            <a href="/user">
                <img src="path_to_user_icon" alt="User Icon" class="user-icon">
                    <span class="user-name">
                        Utilisateur
                    </span>
                </a>
            </div>
        </nav>
        