{% extends 'templates/header.html.twig' %}
{% block title %}
  {{ title }}
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="/public/css/navbar.css" />
  <link rel="stylesheet" href="/public/css/accueil.css" />
  <link rel="stylesheet" href="/public/css/addproperties.css" />
  <link rel="stylesheet" href="/public/css/style.css" />
{% endblock %}
{% block body %}
  <body>
    <h1>{{ Title }}</h1>
    <div>
      <button onclick="redirectTo('/admin/users')">Gestion des utilisateurs</button>
      <button onclick="redirectTo('/admin/properties')">Gestion des logements</button>
      <button onclick="redirectTo('/admin/admin')">Gestion des administrateurs</button>
    </div>
    <div>
      <button onclick="redirectTo('/admin/reviews')">Gestion des avis</button>
      <button onclick="redirectTo('/admin/services')">Gestion des services</button>
      <button onclick="redirectTo('/admin/equipments')">Gestion des equipements</button>
      <button onclick="redirectTo('/admin/type')">Gestion des types de logement</button>
    </div>

    <script>
      function redirectTo(route) {
        window.location.href = route
      }
    </script>
  </body>
{% endblock %}
