{% extends 'templates/header.html.twig' %}
{% block title %}
  {{ title }}
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="/public/css/navbar.css" />
  <link rel="stylesheet" href="/public/css/accueil.css" />
  <link rel="stylesheet" href="/public/css/style.css" />
{% endblock %}
{% block body %}
  <body>
    <div class="container">
      <form action="/admin/addService" method="post">
        <label for="serviceName">Nom du nouveau service :</label>
        <input type="text" name="serviceName" placeholder="Nom du service" required />
        <button type="submit">Ajouter</button>
      </form>

      <ul>
        {% for service in services %}
          <li>
            {{ service.Type }}
            <a href="/admin/deleteService/{{ service.ID }}">Supprimer</a>
            <form action="/admin/updateService" method="post">
              <input type="hidden" name="id" value="{{ service.ID }}" />
              <input type="text" name="name" placeholder="Nouveau nom" required />
              <button type="submit">Modifier</button>
            </form>
          </li>
        {% endfor %}
      </ul>
    </div>
  </body>
{% endblock %}
