{% extends 'templates/header.html.twig' %}
{% block title %}
  {{ title }}
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="/public/css/navbar.css" />
  <link rel="stylesheet" href="/public/css/accueil.css" />
  <link rel="stylesheet" href="/public/css/style.css" />
{% endblock %}
{% block body %}
  <body>
    <div class="container">
      <div>
        <button><a href="/admin/users">Gestion des utilisateurs</a></button>
        <button><a href="/admin/properties">Gestion des logements</a></button>
        <button><a href="/admin/admin">Gestion des administrateurs</a></button>
      </div>
      <div>
        <button><a href="/admin/reviews">Gestion des avis</a></button>
        <button><a href="/admin/services">Gestion des services</a></button>
        <button><a href="/admin/equipments">Gestion des equipements</a></button>
        <button><a href="/admin/type">Gestion des types de logements</a></button>
      </div>
    </div>
  </body>
{% endblock %}
